repos:
  - repo: https://github.com/terraform-docs/terraform-docs
    rev: "v0.16.0"
    hooks:
      - id: terraform-docs-go
        name: terraform docs for the AWS root module
        args: ["markdown", "table", "--lockfile=false", "--output-file", "README.md", "./"]
      - id: terraform-docs-go
        name: terraform docs for the 'instance' module
        args: ["markdown", "table", "--output-file", "README.md", "./modules/instance"]
      - id: terraform-docs-go
        name: terraform docs for the 'scanning-delegate-role' module
        args: ["markdown", "table", "--output-file", "README.md", "./modules/scanning-delegate-role"]
      - id: terraform-docs-go
        name: terraform docs for the 'agentless-scanner-role' module
        args: ["markdown", "table", "--output-file", "README.md", "./modules/agentless-scanner-role"]
      - id: terraform-docs-go
        name: terraform docs for the 'agentless-s3-bucket' module
        args: ["markdown", "table", "--output-file", "README.md", "./modules/agentless-s3-bucket"]
      - id: terraform-docs-go
        name: terraform docs for the 'user_data' module
        args: ["markdown", "table", "--output-file", "README.md", "./modules/user_data"]
      - id: terraform-docs-go
        name: terraform docs for the 'vpc' module
        args: ["markdown", "table", "--output-file", "README.md", "./modules/vpc"]
      - id: terraform-docs-go
        name: terraform docs for the Azure root module
        args: ["markdown", "table", "--lockfile=false", "--output-file", "README.md", "./azure"]
      - id: terraform-docs-go
        name: terraform docs for the 'azure/custom-data' module
        args: ["markdown", "table", "--output-file", "README.md", "./azure/modules/custom-data"]
      - id: terraform-docs-go
        name: terraform docs for the 'azure/managed-identity' module
        args: ["markdown", "table", "--output-file", "README.md", "./azure/modules/managed-identity"]
      - id: terraform-docs-go
        name: terraform docs for the 'azure/resource-group' module
        args: ["markdown", "table", "--output-file", "README.md", "./azure/modules/resource-group"]
      - id: terraform-docs-go
        name: terraform docs for the 'azure/roles' module
        args: ["markdown", "table", "--output-file", "README.md", "./azure/modules/roles"]
      - id: terraform-docs-go
        name: terraform docs for the 'azure/virtual-machine' module
        args: ["markdown", "table", "--output-file", "README.md", "./azure/modules/virtual-machine"]
      - id: terraform-docs-go
        name: terraform docs for the 'azure/virtual-network' module
        args: ["markdown", "table", "--output-file", "README.md", "./azure/modules/virtual-network"]
      - id: terraform-docs-go
        name: terraform docs for the GCP root module
        args: ["markdown", "table", "--lockfile=false", "--output-file", "README.md", "./gcp"]
      - id: terraform-docs-go
        name: terraform docs for the 'gcp/agentless-impersonated-service-account' module
        args: ["markdown", "table", "--output-file", "README.md", "./gcp/modules/agentless-impersonated-service-account"]
      - id: terraform-docs-go
        name: terraform docs for the 'gcp/agentless-scanner-service-account' module
        args: ["markdown", "table", "--output-file", "README.md", "./gcp/modules/agentless-scanner-service-account"]
      - id: terraform-docs-go
        name: terraform docs for the 'gcp/instance' module
        args: ["markdown", "table", "--output-file", "README.md", "./gcp/modules/instance"]
      - id: terraform-docs-go
        name: terraform docs for the 'gcp/vpc' module
        args: ["markdown", "table", "--output-file", "README.md", "./gcp/modules/vpc"]

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: "v1.104.0"
    hooks:
      - id: terraform_fmt
        name: terraform fmt
        args: [--args=-recursive]
      - id: terraform_tflint
        name: terraform lint
        args: [--args=--disable-rule=terraform_module_pinned_source]

  - repo: local
    hooks:
      - id: bicep
        name: Build Azure ARM template with Bicep
        language: system
        # Note: to avoid errors every time a new Bicep version is released,
        # we need to install and use the same version of Bicep CLI that was
        # used to build the ARM template.
        entry: >-
          sh -c '
            az config set bicep.use_binary_from_path=False;
            BICEP_VERSION=v$(jq -r '\''.metadata._generator.version | split(".")[:3] | join(".")'\'' azure/arm/main.json);
            az bicep install --version $BICEP_VERSION;
            az bicep build --file azure/arm/main.bicep;
          '
        files: ^azure/arm/
        exclude_types: ["markdown"]
        pass_filenames: false
